[package]
name = "claudio"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
dialoguer = "0.11"
is-terminal = "0.4"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

[profile.release]
strip = true
lto = true
codegen-units = 1
